<p id="notice"><%= notice %></p>

<h3>Your Story</h3>

<p>
  <strong>Body:</strong>
  <%= @yak.body %>
</p>

<p>
  <strong>Nik:</strong>
  <%= @nik.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @yak.user.email %>
</p>

<h1>Im a Read Button</h1>

<%= link_to 'Edit', edit_nik_yak_path(@nik, @yak) %> |
<%= link_to 'Back', nik_yaks_path(@nik) %>
