<%= form_for(nik) do |f| %>
  <%# <% if nik.errors.any? %1> %>
  <%#   <div id="error_explanation"> %>
  <%#     <h2><%= pluralize(nik.errors.count, "error") %1> prohibited this yak from being saved:</h2> %>

  <%#     <ul> %>
  <%#       <% nik.errors.full_messages.each do |message| %1> %>
  <%#         <li><%= message %1></li> %>
  <%#       <% end %1> %>
  <%#     </ul> %>
  <%#   </div> %>
  <%# <% end %1> %>

  <%= f.hidden_field :parent_id %>
  <div class="field">
    <%= f.text_area :body, :class => "nik_fields", :placeholder => random_change_link_what_now, :autofocus => true, :required => true %>
  </div>
  <%= f.submit :class => "btn-style btn-second", :value => "Add" %>
<% end %>
