<div class="story-container">
  <% if nik.title %>
    <h1><%= nik.title %></h1>
    <%= link_to "Story tree", tree_nik_path(@nik), class: "tree-link" %>
  <% end %>
  <h5 class="story-intro-info">
    <%= render partial: "upvote", locals: { nik: nik } %>
    <%# Story ends on paragraph <%= nik.limit %1> %>
  </h5>
  <p class="story-intro-paragraph"><%= nik.body %></p>
  <%# <%= render 'yak_sibling', nik: nik.left_sibling, point: "left", display: random_change_link_left %1> %>
  <%# <%= render 'yak_sibling', nik: nik.right_sibling, point: "right", display: random_change_link_right %1> %>
</div>
