<div class="story-container">
  <% if nik.title %>
    <h1><%= nik.title %></h1>
    <div class="story-intro-info">
      <%= nik.descendents.count %> Replies
      <span class="vote-container"><%= nik.votes %> Votes</span>
      <%# Story ends on paragraph <%= nik.limit %1> %>
    </div>
    <div class="story-intro-actions">
      <%= link_to random_change_link_vote, upvote_nik_url(nik), data: { method: :patch, remote: true }, class: "upvote-link btn-style btn-second" %>
      <a href="#" id="zoom" class="btn-style btn-second">View this story's NikYak</a>
    </div>
    <%#= link_to "Story tree", tree_nik_path(@nik), class: "tree-link" %>
  <% end %>
  <p class="story-intro-paragraph <%= 'selected' if nik.id.to_s == params[:id] %>" id="<%= nik.id %>"><%= nik.body %></p>
  <%# <%= render 'yak_sibling', nik: nik.left_sibling, point: "left", display: random_change_link_left %1> %>
  <%# <%= render 'yak_sibling', nik: nik.right_sibling, point: "right", display: random_change_link_right %1> %>
</div>
