<div class="container all-stories">
  <h1>All stories</h1>
  <% @niks.each do |nik| %>
  <div class="story">
    <h2 class="story-title"><%= link_to nik.title, nik %></h2>
    <p class="story-vote-count">Replies: <%= nik.descendents.count %></p>
    <p class="story-vote-count">Votes: <%= nik.votes %></p>
    <p class="story-intro"><%= nik.body %></p>
  </div>
  <% end %>
  <%= link_to 'Create a new story', new_nik_path, :class => "btn-style btn-second" %>
</div>
