<div class="container content-container">
  <%= render @nik.first_branch %>
  <% if user_signed_in? %>
    <% if user_can_add_yak?(@new_nik.parent) %>
      <%= render 'form_yak', nik: @new_nik %>
    <% else %>
      <%= render 'share_your_yak', yak: @nik %>
    <% end %>
  <% else %>
    <h3><%= random_change_link_what_now %></h3>
    <%= link_to "Sign in", new_user_session_path(nik_id: @nik.id), :class => "btn-style btn-main" %>
  <% end %>

  <div class="share-footer">
    <h4>Share this story via</h4>
    <%= social_share_button_tag(title: (@nik.title || @nik.root.title), via: 'NikYakApp', url: nik_url(@nik), image: asset_path("icon.png")) %>
  </div>

  <!-- load the d3.js library -->
  <script src="http://d3js.org/d3.v3.min.js"></script>
  
</div>
<div class="tree-outer-container">
  <h3>Below is your NikYak: your story visualized</h3>
  <h4>Sometimes a story can branch off into a different story. See where other people have taken it.</h4>
  <div class="tree-container"></div>
</div>

<%= render_tree(@nik, ".tree-container") %>

