<% @nik.first_branch.each do |nik| %>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1>
          <%= nik.title %>
        </h1>

        <p>
          <%= nik.votes %>
        </p>

        <p>
          <%= nik.body %>
        </p>

        <p>
          <%= nik.limit %>
        </p>
      </div>
    </div>
  </div>
<% end %>

<%= link_to 'See all niks', niks_path, :class => "btn-style btn-second" %>

<% if user_signed_in? %>
  <%= form_for(@new_nik) do |f| %>
    <% if @new_nik.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@new_nik.errors.count, "error") %> prohibited this yak from being saved:</h2>

        <ul>
          <% @new_nik.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :parent_id %>
    <div class="field">
      <label for="body">What Now?</label>:<br>
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% else %>
  Sign In/up to Reply
  <%= link_to 'Sign in', new_user_session_path %>
  <%= link_to 'Sign up', new_user_registration_path %>
<% end %>

<%= social_share_button_tag(@nik.title, via: 'NikYakApp', url: nik_url(@nik), image: asset_path("icon.png")) %>
