<div class="container content-container">
  <%= render @nik.first_branch %>
  <% if user_signed_in? %>
    <% if user_can_add_yak?(@new_nik.parent) %>
      <%= render 'form_yak', nik: @new_nik %>
    <% else %>
      <%= render 'share_your_yak', yak: @nik %>
    <% end %>
  <% else %>
    <h3>This story isn't finished yet. What now?</h3>
    <%= link_to "Sign in", new_user_session_path(nik_id: @nik.id), :class => "btn-style btn-main" %>
  <% end %>
  
  <div class="share-footer">
    <h4>Share this story via</h4>
    <%= social_share_button_tag(@nik.title, via: 'NikYakApp', url: nik_url(@nik), image: asset_path("icon.png")) %>
  </div>
</div>

