<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <p id="notice"><%= notice %></p>

      <h1>
        <%= @nik.title %>
      </h1>

      <p>
        <%= @nik.votes %>
      </p>

      <p>
        <%= @nik.body %>
      </p>

      <p>
        <%= @nik.limit %>
      </p>

      <%= form_for([@nik, @yak]) do |f| %>
        <% if @yak.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@yak.errors.count, "error") %> prohibited this yak from being saved:</h2>

            <ul>
            <% @yak.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <label for="body">What Now?</label>:<br>
          <%= f.text_area :body %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
      
      <%= link_to 'Edit', edit_nik_path(@nik), :class => "btn-style btn-second" %>
      <%= link_to 'See all niks', niks_path, :class => "btn-style btn-second" %>
    </div>
  </div>
</div>
