<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%= render @nik.first_branch %>
    </div>
    <% if user_signed_in? %>
      <div class="col-sm-8 col-sm-offset-2">
        <% if user_can_add_yak?(@new_nik.parent) %>
          <%= render 'form_yak', nik: @new_nik %>
        <% else %>
          <%= render 'share_your_yak', yak: @nik %>
        <% end %>
      </div>
    <% else %>
      <div class="col-sm-8 col-sm-offset-2">
        <h3>Sign In/up to Reply</h3>
        <%= link_to 'Sign in', new_user_session_path %>
        <%= link_to 'Sign up', new_user_registration_path %>
      </div>
    <% end %>
  </div>
</div>

<div class="story-page-footer">
  <div class="container">
    <div class="story-page-footer-share">
      <h4>Share this story via:</h4>
      <%= social_share_button_tag(@nik.title, via: 'NikYakApp', url: nik_url(@nik), image: asset_path("icon.png")) %>
    </div>
    <%= link_to 'See all niks', niks_path, :class => "btn-style btn-second" %>
  </div>
</div>
  