<div class="container">
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= render @nik.first_branch %>
  </div>
</div>

<% if user_signed_in? %>
  <% if user_can_add_yak?(@new_nik.parent) %>
    <%= render 'form_yak', nik: @new_nik %>
  <% else %>
    <%= render 'share_your_yak', yak: @nik %>
  <% end %>
<% else %>
  Sign In/up to Reply
  <%= link_to 'Sign in', new_user_session_path %>
  <%= link_to 'Sign up', new_user_registration_path %>
<% end %>

<div class="story-page-footer">
  <div class="container">
  <%= social_share_button_tag(@nik.title, via: 'NikYakApp', url: nik_url(@nik), image: asset_path("icon.png")) %>

  <%= link_to 'See all niks', niks_path, :class => "btn-style btn-second" %>
  </div>
</div>
