<div id="profile-container" class="container">
  <div id="profile-stories-authored" class="section">
    <h3>My stories</h3>
    <% current_user.niks.roots.each do |nik| %>
      <div class="nik-authored">
        <div class="title">
          <%= link_to nik.title, nik_path(nik) %>
        </div>
        <div class="body">
          <%= nik.body[0..50] %>...
        </div>
      </div>
    <% end %>
  </div>

  <div id="profile-stories-contributed" class="section">
    <h3>Stories I contributed to</h3>
    <% current_user.niks.without_root.each do |nik| %>
      <div class="nik-authored">
        <div class="title">
          <%= link_to nik.root.title, nik_path(nik) %>
        </div>
        <div class="body">
          <%= nik.body[0..50] %>...
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "Edit settings", edit_user_registration_path %>
</div>



